.main-content {
  display: flex;
  .main-content-wrapper {
    width: 100%;
    .content-wrapper {
      display: flex;
    }
    .content {
      @include margin(55px 40px 55px 20px);
      max-width: 1200px;
      .title {
        margin-bottom: 30px;
      }
      .text {
        &.light {
          margin-top: 35px;
        }
      }
    }
  }
}
